:root {
    --color-primary: #1F201A;
    --color-secondary: #F2994A;
    --color-white: #fff;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Playfair Display', serif;
    --mb-sm: 2rem;
    --mb-md: 3rem;
    --mb-lg: 4rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    @media only screen and (max-width: 53em) {
        font-size: 50%;
    }
}

body {
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: var(--color-primary);
    font-family: var(--font-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 15rem;
    @media only screen and (max-width: 100em) {
        padding: 3rem 12rem;
    }
    @media only screen and (max-width: 70.7em) {
        padding: 3rem 10rem;
    }
    @media only screen and (max-width: 66em) {
        padding: 3rem 5rem;
    }
    @media only screen and (max-width: 44em) {
        padding: 3rem 1rem;
    }
}

.container {
    flex: 0 0 100%;
    margin-top: 3rem;
}

footer {
    flex: 0 0 100%;
}

.recipe {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--mb-md);
    &__title {
        margin-bottom: 2.5rem;
        font-size: 4.8rem;
        font-family: var(--font-secondary);
        font-weight: 700;
        @media only screen and (max-width: 38em) {
            font-size: 3rem;
        }
    }
    &__description {
        max-width: 50rem;
        text-align: left;
        font-family: var(--font-secondary);
        font-style: italic;
        font-size: 1.4rem;
        line-height: 1.7rem;
        display: flex;
        &::before {
            content: url(6dots.svg);
            // width: 4rem;
            height: 100%;
            display: inline-block;
            margin-right: 1.5rem;
        }
    }
}

section {
    display: flex;
    @media only screen and (max-width: 38em) {
        flex-direction: column-reverse;
    }
    .right {
        flex: 0 0 60%;
        margin-right: auto;
        h2 {
            font-family: var(--font-secondary);
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5rem;
            margin-bottom: var(--mb-sm);
            margin-top: var(--mb-sm);
        }
        .recipe {
            &__ingredients {}
            &__name {
                font-family: var(--font-secondary);
                font-weight: 400;
                font-style: italic;
                font-size: 1.8rem;
                margin: var(--mb-sm) 0;
            }
            &__items {
                list-style-type: none;
            }
            &__item {
                display: flex;
                font-family: var(--font-primary);
                font-size: 1.6rem;
                line-height: 2.5rem;
                input {
                    margin-right: 1.5rem;
                }
                p {
                    transform: translateY(-4px);
                }
            }
            &__instructions {
                list-style: none;
                counter-reset: count-list;
            }
            &__instruction {
                counter-increment: count-list;
                display: flex;
                font-family: var(--font-primary);
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.4rem;
                &:not(:last-child) {
                    margin-bottom: var(--mb-md);
                }
                span {
                    font-weight: 700;
                    font-family: var(--font-secondary);
                }
                &::before {
                    content: counter(count-list);
                    font-family: var(--font-secondary);
                    font-weight: 700;
                    font-size: 2rem;
                    margin-right: 1.5rem;
                    padding: 1.5rem;
                    border-radius: 5px;
                    height: 2rem;
                    width: 2rem;
                    color: #fff;
                    background-color: var(--color-secondary);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .left {
        // align-self: baseline;
        flex: 0 0 35%;
        max-height: 50rem;
        padding: 5rem 2rem;
        @media only screen and (max-width: 66em) {
            padding: 7rem 3rem;
        }
        @media only screen and (max-width: 38em) {
            display: inline-block;
            width: 100%;
            padding: 1rem 1rem;
        }
        // background-color: orange;
        border-radius: 5px;
        box-shadow: 0 0 10px;
        @media only screen and (max-width: 38em) {
            box-shadow: none;
        }
        align-items: center;
        justify-content: center;
        margin-top: var(--mb-md);
        &__items {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            @media only screen and (max-width: 38em) {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                row-gap: 1rem;
            }
            // align-content: space-between;
        }
        &__item {
            display: flex;
            align-items: center; // justify-content: center;
            &:not(:last-child) {
                margin-bottom: var(--mb-lg);
                @media only screen and (max-width: 38em) {
                    margin-bottom: 0;
                    // margin-right: var(--mb-sm);
                }
            }
            svg {
                width: 4rem;
                height: 4rem;
                @media only screen and (max-width: 38em) {
                    width: 3rem;
                    height: 3rem;
                }
                margin-right: 1.5rem;
                fill: var(--color-primary);
            }
        }
    }
}

.title {
    text-transform: uppercase;
    color: grey;
    @media only screen and (max-width: 38em) {
        font-size: 1.2rem;
    }
}

.duration {
    text-transform: uppercase;
    font-family: 1.4rem;
    font-weight: 500;
    @media only screen and (max-width: 38em) {
        font-size: 1.2rem;
    }
}

.footer {
    margin-top: var(--mb-md);
    text-align: center;
}

#serving {
    svg {
        fill: var(--color-secondary);
    }
    color: var(--color-secondary);
    @media only screen and (max-width: 38em) {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
}

#prep {
    @media only screen and (max-width: 38em) {
        grid-row: 2/3;
        grid-column: 1/5;
    }
}

#cook {
    @media only screen and (max-width: 38em) {
        grid-row: 2/3;
        grid-column: 5/9;
    }
}

#total {
    @media only screen and (max-width: 38em) {
        grid-row: 2/3;
        grid-column: 9/13;
    }
}